<!DOCTYPE html>
<html xmlns="http:/>/www.w3.org/1999.xhtml"
      xmln:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Welcome to the Forum page!</title>

    <link type="text/css" rel="stylesheet"
          href="../static/css/style.css"
          th:href="@{css/style.css}"/>

    <link rel ="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>