<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<title>LOGIN</title>

<body class="text-center">

<form method="post" th:action="@{/login-process}">

    <p class="alert alert-danger" th:if="${param.error}" th:text="'Podany login lub hasło są nieprawidłowe'"/>

    <h3>Log in</h3>
    <label for="inputLogin">Login:</label>
    <input id="inputLogin" name="username" placeholder="Podaj login"
           th:required="required" type="text"/>

    <label for="inputPassword">Password:</label>
    <input id="inputPassword" name="password"
           placeholder="Podaj hasło"
           th:requred="required" type="password"/>

    <button type="submit">Zaloguj</button>

</form>
</body>
</html>