<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org"
      xmlns="http:/>/www.w3.org/1999.xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Forum</title>
    <p style="text-align: center;"><span style="color: #000080;">Welcome to the Forum!</span></p>

    <form action="/users">
        <button class="btn btn-success" type="submit"> Add a post</button>
    </form>
    <div style="text-align: center;">&nbsp;</div>
    <form action="/users">
        <button class="btn btn-success" type="submit"> List of all posts</button>
    </form>
    <head/>
</html>