<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register in Forum</title>
</head>
<h3>User form</h3>
<body class="text-center">
<form class="sign" method="post" th:action="@{/register}" th:object="${userToInsert}">
    <p>Name:
        <input th:field="*{userDetailsDto.name}" type="text"/>
    </p>
    <p>Surname:
        <input th:field="*{userDetailsDto.surname}" type="text"/>
    </p>
    <p>Date of birth:
        <input th:field="*{userDetailsDto.bornDate}" type="text"/>
    </p>
    <p> Email:
        <input th:field="*{userDetailsDto.email}" type="text"/>
    </p>
    <p> Login:
        <input th:field="*{login}" type="text"/>
    </p>
    <p>Password:
        <input th:field="*{password}" type="password"/>
    </p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>
Collapse


Message Input
