<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>User list</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Join date</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="user:${allUsers}">
        <form th:action="@{/deleteuser}" method="post" th:object="${user}">
            <td th:text="${user.login}"></td>
            <td th:text="${user.password}"></td>
            <td>
            <input type="hidden" name="name" th:value="${user.id}"/>
                <input name="surname" th:value="${user.login}" type="hidden"/>
            <button value="remove">Usuń</button>
            </td>
        </form>
    </tr>
    </tbody>
</table>

</body>
</html>